/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* generics */
li{
    list-style-type: none;
}

i{
    cursor: pointer;
}


header button{
    color: white;
    background-color: rgb(54,54,54);
    padding: 5px 8px;
    border-radius: 20px;
}

.jumbo-top{
    background-image:url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
}

.jumbo-top img{
    width: 100%;
}

.jumbo-top button{
    background-color: rgb(205,61,15);
    color: white;
    padding: 5px 5px;
    border-radius: 20px;
    border: 5px transparent;
    border-style: double;
}

.jumbo-top button:hover{
    border-block-color: red;
    border-block-end-color: black;
    border-block-start-color: black;
    border-inline-color: black;

}




.jumbo-bottom img{
    width: 100%;
    border-radius: 20px;
    transition: transform 0.5s;
}

.jumbo-bottom .col:hover{
    padding-bottom: 5px;
    transform: scale(1.05) translateY(-5px);
}


.play-has h6{
    color: rgb(115,177,228);    
}

.play-has button{
    background-color: rgb(45,100,230);
    padding: 5px 9px;
    border: 5px transparent double;
    border-radius: 20px;
    color: white;
}

.play-has button:hover{

    border-block-end-color: white;
    border-block-start-color: white;
    border-inline-color: white;
}


.ch .col{
    opacity: 0.5;
}



.ch .col:hover {
    border-bottom: 2px solid rgb(45,100,230);
    opacity: 1;
}
    
.ps-plus button{
    background-color:rgb(217,218,220);
    color: rgb(54,106,229);
    padding: 5px 10px;
    border: 5px double transparent;
    border-radius: 20px;
}

.ps-plus button:hover{
    border-block-end-color: rgb(190,188,187);
    border-block-start-color: rgb(190,188,187);
    border-inline-color: rgb(190,188,187);
}



.ps-now button{
    color: black;
    border: 5px double transparent;
    border-radius: 20px;
    padding: 5px 10px;
}

.ps-now button:hover{
    border-block-end-color: rgb(22,28,59);
    border-block-start-color: rgb(22,28,59);
    border-inline-color: rgb(22,28,59);
}

.top-nr{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}

.top-nr button{
    background-color: rgb(205,61,15);
    border: 5px double transparent ;
    border-radius: 20px;
    padding: 5px 5px;
    color: white;
}

.top-nr button:hover{
    border-block-end-color: transparent;
    border-block-start-color: transparent;
    border-inline-color: transparent;
}

.bottom-nr{
    background-color: rgb(31,31,31);
}

.bottom-nr p{
    color: white;
}


.explore-ps4 button{
    background-color: rgb(45,100,230);
    color: white;
    padding: 5px 9px;
    border: 7px double transparent;
    border-radius: 20px;
}

.explore-ps4 button:hover{
    
    border-block-end-color: rgb(190,188,187);
    border-block-start-color: rgb(190,188,187);
    border-inline-color: rgb(190,188,187);
    padding: 5px;
}




img{
    width: 90%;
    border-radius: 20px;
}

.sale img{
    border-radius: 0;
}

.ps-plus{
    background-color: rgb(190,188,187);
}

.ps-now{
    background-color: rgb(22,28,59);
}




.social img{
    width: 60%;
    border-radius: 0;
}

footer{
    background-color: rgb(0,67,156);
    color: white;
}

#ps{
    width: 40%;
}

#sie{
    width: 30%;
}

footer a{
    color: white;
}

p i{
    font-size: 10px;
}

sup{
    font-size: 4px;
}

.it{
    width: 60%;
}